@import "tailwindcss";

@plugin "flowbite/plugin";

@source "../node_modules/flowbite-react";

@font-face {
  font-family: "Playwrite PL";
  src: url("./assets/fonts/PlaywritePL.ttf");
}
@font-face {
  font-family: "Rubik";
  src: url("./assets/fonts/Rubik.ttf");
}

@theme {
  --font-logo: "PlaywritePL", sans-serif;
  --font-primary: "Rubik", sans-serif;
}

@layer base {
  body {
    @apply font-primary;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  h5 {
    @apply text-base;
  }
  h6 {
    @apply text-sm;
  }
}

@layer utilities {
  .logo {
    @apply font-logo;
  }
  .container {
    @apply mx-auto px-4 sm:px-6 lg:px-8;
  }
}

/* Keyframe Animations */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

@keyframes tooltip {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation Classes */
.animate-fade-in {
  animation: fade-in 0.6s ease-out;
}

.animate-shake {
  animation: shake 0.5s ease-in-out;
}

.animate-tooltip {
  animation: tooltip 0.2s ease-out;
}

.avatar * {
  @apply size-full object-cover;
}
